.header { 
    width: 100%;
    border: 10px;
    border: 1px solid white;
    box-shadow: 0px 0px 5px gray;
    display: grid;
    background-color: white;
}

img.imag-nav {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 30%;
    
}

.navs { 
   
    display: inline-block;
    padding: 10px;
    /* grid-template-columns: 30% 30% 30%; */
    /* column-gap: 5px; */
    /* row-gap: 10px; */
        

}

#anav {
    justify-content: flex-end;
    padding: 10px;
    
}

